body {
    background-color: blue;
    font: normal 15pt arial;
}
    header{
        text-align: center;
        color: white;
        font-size: 30px;
    }

    div#centro {
    background-color: white;
    width: 900px; /*largura */
    text-align: center;
    text-shadow: black;
    padding: 10px; /* espaco em cima do site */
    margin: auto; /*alinhar no centro do body*/
    border-radius: 10px; /*deixa as bordas redondas*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    height: 450px;
}  

    img#imagem {
        width: auto;
        height: auto;
        max-width: 325px;
        max-height: 325px;
    }
